.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

img {
    width: 100%;
}

#topper {
    background-color: white;
}

#emailbutton {
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border: 0;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

#aboutme {
    padding-top: 150px;
    padding-bottom: 20px;
    font-family: Tenor Sans;
    font-size: 45px
}

#aboutme-copy {
    font-family: Tenor Sans;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#line {
    color: black;
    background-color: black;
    height: 3px
}

#myname {
    margin-top: 75px;
    margin-bottom: 30px;
    font-family: Tenor Sans;
    font-size: 65px
}

#mytitle {
    font-family:
    Tenor Sans;
    margin-bottom: 180px
}

#experiencebutton {
    
}